@charset "UTF-8";

body {
	transition: 1s ease-in-out;
	margin : 0 0;
	padding: 0  0;
	margin-left: 10px;
	margin-right: 10px;
}
.error {
	color: red;
}
.gameBoard {
	font-family: 'Courier New', monospace;
	font-size: 20px;
	background: #f1f1f1;
    width: 420px;
    padding: 20px;
    margin: auto;
}
.table{
	width: 700px;
	height: 700px;
	margin: 0 10;
}